.hero{
    background: linear-gradient(180deg, #ffc95c 2.18%, rgba(255, 201, 92, 0) 9.71%);
    background-image: url('./../img/hero/hero.jpg');
    background-position: center center; /* x y */
    background-size: cover;
    background-repeat: no-repeat;
    height: 820px;
    

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
       background-image: url('./../img/hero/hero2x.jpg'); 
    }
}

.hero__container{
    height: 100%;

    display: flex;
    align-items: center;

    padding-left: calc(
		(100% - var(--container-width)) / 2 + (var(--container-width) / 2)
	);

    padding-right: calc((100% - var(--container-width)) / 2);

}

.hero__title{
    margin-bottom: 8px;
}

.hero__desc {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #121212;
    margin-bottom: 28px;
}
.hero__link {
}

