.main-title{
    font-family: var(--font-accent);
    font-weight: 500;
    font-size: 80px;
    line-height: 105%;
    letter-spacing: -0.04em;
    color: #121212;
    span{
        color: #377DFF;
    }
}